body {
  	margin: 0px;
        padding: 0px;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 12px;
	line-height: 22px;
	background: #242123;
        color: white;
}

table, td, th, tr {
        border: 1px solid #faa61a;;
        width: auto;
 }
 
 #invisibleTable{
     border: 0px;
     width: auto;
 }
 
 #itd{
     border: 0px;
     width: auto;
 }
 
 #ith{
     border: 0px;
     width: auto;
 }

h1 {
        
  	margin: 0px;
	padding: 5px;  
	font-size: 32px;
        color: #faa61a;
}

h3 {
    color: #faa61a;
    padding-left: 5px;
}

h4 {
    color: #faa61a;
    padding-left: 2px;
    padding-right: 2px;
}

p {
  	margin: 0px;
	padding: 5px;
        color: white;
}


a:link { 
         color: white;
}

a:visited { 
         color: blue;
}

#ContentContainer {
    position: absolute;
    margin: 0px;
}

#Header {
    position: absolute;
    margin: 0px;
    padding: 0px;
    height:100px;
    width:1125px;
    left: 5px;
    top: 5px;
    background-color: #666465;
}

#Navbar {
    position: absolute;
    left: 5px;
    top: 110px;
    right: 0px;
    margin: 0px;
    padding: 0px;
    width: 200px;
    background-color: #666465;
}

#Content {
    margin: 0px 250px 0px 0px;
    padding: 10px;
    position: absolute;
    left: 210px;
    top: 110px;
    width: 900px;
    background-color: #666465;
}

#Pagin
{
    position: relative;
    bottom: 1px;
    text-align: center;
}

#ajax_listOfOptions{
		position:absolute;	/* Never change this one */
		width:175px;	/* Width of box */
		height:250px;	/* Height of box */
		overflow:auto;	/* Scrolling features */
		border:1px solid #317082;	/* Dark green border */
		background-color:#FFF;	/* White background color */
		text-align:left;
		font-size:0.9em;
		z-index:100;
	}

#ajax_listOfOptions div{	/* General rule for both .optionDiv and .optionDivSelected */
		margin:1px;		
		padding:1px;
		cursor:pointer;
		font-size:0.9em;
	}
#ajax_listOfOptions .optionDiv{	/* Div for each item in list */
		color: black;
	}
#ajax_listOfOptions .optionDivSelected{ /* Selected item in the list */
		background-color:#317082;
		color:#FFF;
	}
#ajax_listOfOptions_iframe{
		background-color:#F00;
		position:absolute;
		z-index:5;
	}
        
form{
		display:inline;
	}